In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("model_data.csv")

In [11]:
data

,decimalLatitude,decimalLongitude,occurrenceStatus,aet_mean,def_mean,pdsi_mean,pet_mean,ppt_mean,q_mean,soil_mean,srad_mean,swe_mean,tmax_mean,tmin_mean,vap_mean,vpd_mean,ws_mean
0,-33.693144,151.320884,1,83.600000,34.233333,-1.655000,117.783333,97.766667,14.366667,75.566667,196.116667,0.0,23.578335,13.778335,1.451000,0.716833,4.141667
1,-33.925746,151.164082,1,79.783333,40.133333,-1.598333,119.933333,89.583333,9.933333,80.833333,191.533333,0.0,23.538335,14.068335,1.435667,0.755167,4.315000
2,-31.732415,152.088515,1,82.150000,30.433333,-2.233333,112.600000,91.600000,10.333333,95.583333,201.816667,0.0,23.356668,10.981668,1.253167,0.769500,2.875000
3,-32.968624,151.644194,1,75.250000,45.200000,-2.108333,120.466667,84.133333,8.866667,73.650000,199.816667,0.0,23.895002,13.938335,1.473000,0.737833,4.123333
4,-33.093048,151.416300,1,72.933333,42.833333,-2.015000,115.683333,81.216667,8.550000,61.833333,198.766667,0.0,23.756668,13.061669,1.433333,0.724333,3.653333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49298,-26.754987,152.839291,1,90.833333,27.200000,-1.966666,118.016667,113.250000,23.050000,141.366667,210.966667,0.0,24.606668,13.765002,1.564000,0.750500,3.471667
49299,-34.791600,150.779300,1,84.016667,31.316667,-1.721666,115.216667,93.416667,10.833333,117.766667,194.116667,0.0,22.558335,13.280002,1.377000,0.667167,4.266667
49300,-27.497691,153.018211,1,77.683333,52.583333,-2.321666,130.266667,87.550000,9.683333,73.700000,207.183333,0.0,26.558335,15.480001,1.680833,0.920333,3.936667
49301,-37.845236,144.354168,0,36.866667,73.683333,-2.456666,110.466667,38.933333,2.033333,7.083333,179.666667,0.0,20.093335,9.673335,1.060167,0.690167,4.770000
49302,-33.767500,151.117917,0,75.150000,41.800000,-1.551666,116.916667,84.050000,9.116667,65.483333,194.866667,0.0,23.581668,13.055002,1.394667,0.756167,3.798333

In [12]:
def features_with_missing_values(data):
    x = data.isnull().sum().sum()/(data.shape[0]*data.shape[1])*100
    print('Percentage of Total Missing Values is ' ,round(x,2) ,'%')
    print('Missing Value Estimation :')
    for i in data.columns:
        if data[i].isna().sum()>0:
            print('The Feature ',i,' has '+ str(data[i].isna().sum()) + ' missing values')
            
features_with_missing_values(data)

Percentage of Total Missing Values is  0.08 %
Missing Value Estimation :
The Feature  aet_mean  has 45 missing values
The Feature  def_mean  has 45 missing values
The Feature  pdsi_mean  has 45 missing values
The Feature  pet_mean  has 45 missing values
The Feature  ppt_mean  has 45 missing values
The Feature  q_mean  has 45 missing values
The Feature  soil_mean  has 45 missing values
The Feature  srad_mean  has 45 missing values
The Feature  swe_mean  has 45 missing values
The Feature  tmax_mean  has 45 missing values
The Feature  tmin_mean  has 45 missing values
The Feature  vap_mean  has 45 missing values
The Feature  vpd_mean  has 45 missing values
The Feature  ws_mean  has 45 missing values

In [13]:
df = data.dropna(inplace= True)

In [14]:
from statsmodels.formula.api import glm

In [ ]:
model = glm(formula = 'occurrenceStatus ~ aet_mean + def_mean', data = df, family = "Binomial")
#print(model.summary())

In [15]:
df

ERROR! Session/line number was not unique in database. History logging moved to new session 9